<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1"
id="javaee">

    <welcome-file-list>
        <welcome-file>index.xhtml</welcome-file>
    </welcome-file-list>


    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>HelloServlet</servlet-name>
        <servlet-class>com.javaee.HelloServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>HelloServlet</servlet-name>
        <url-pattern>/Hello.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CookieTest</servlet-name>
        <servlet-class>com.javaee.servlet.CookieServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CookieTest</servlet-name>
        <url-pattern>/TestCookie.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SessionServlet</servlet-name>
        <servlet-class>com.javaee.servlet.SessionServlet</servlet-class>
        <init-param>
            <param-name>autor</param-name>
            <param-value>Michal Niedziela vel Sunday</param-value>
        </init-param>
    </servlet>
    <!--<servlet>-->
        <!--<servlet-name>Faces Servlet</servlet-name>-->
        <!--<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>-->
        <!--<load-on-startup>1</load-on-startup>-->
    <!--</servlet>-->

    <servlet-mapping>
        <servlet-name>SessionServlet</servlet-name>
        <url-pattern>/SessionServlet.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>HashServlet</servlet-name>
        <servlet-class>com.javaee.servlet.HashServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>HashServlet</servlet-name>
        <url-pattern>/hash.do</url-pattern>
    </servlet-mapping>
</web-app>